$colores: (titulo:#90afca,
fondo-titular:#336b87,
fondo-principal: rgb(161, 174, 235),
hover: bisque,
fondo-texto: #2E7E56,
texto: bisque)

;

$tamaño-titulo: 100%;
$tamaño-letra: 50px;  
$tipo-letra-h1: tahoma;
$header-ancho: 100%;
$grid-tamaño-principal: 100%;
$tamaño-letra-texto: 18px;
$grid-ancho: 100%;
$grid-alto: 100%;
$tamaño-letra-menu: 20px;



